.loginPage {
  background-color: black;
}

.loginContainer {
  width: 85%;
  height: 80vh;
}

.loginBox {
  height: 100%;
  width: 42%;
}

.imgBox {
  width: 58%;
  height: 100%;
  background-color: brown;
  background-image: url("../../images/black-bg/jonathan-borba-8l8Yl2ruUsg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
}

.themeText {
  color: orangered;
}

@media screen and (max-width: 600px) {
  .imgBox {
    display: none;
  }

  .loginContainer {
    width: 100%;
    padding: 0;
  }

  .loginBox {
    width: 95%;
    margin: 0 auto;
    /* height: 90vh; */
  }
}
